/* splash_style.css */
body {
    background-color: #0e100f;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    gap: 40px;
    flex-wrap: wrap;
}

.splash-container {
    text-align: center;
    color: #ffffff;
    transform-origin: center;
}

.title {
    font-size: 4rem;
    margin: 0;
    color: #00d1b2;
    text-shadow: 0 4px 20px rgba(0, 209, 178, 0.8);
}

.subtitle {
    font-size: 1.2rem;
    margin: 20px 0 0;
    color: #dddddd;
    opacity: 0.8;
}
