* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff7e6;
}

.menu-button {
  position: fixed;
  top: 3%;
  right: 2%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 100000;
}

.nav-not-visible {
  z-index: 10000;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000007a;
  z-index: 10000;
}

.nav div {
  position: absolute;
  border-radius: 50px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  border: 3px solid #000000;
  transition: width 0.5s ease;
}

.nav div:hover {
  background-color: #dad0c6;
  width: 270px;
}

.dashboard-link {
  position: relative;
  top: 15%;
  left: 12%;
  rotate: -8deg;
}

.about-link {
  position: relative;
  top: 25%;
  right: 15%;
  rotate: 15deg;
}

.projects-link {
  position: relative;
  bottom: 25%;
  left: 20%;
  rotate: -8deg;
}

.contact-link {
  position: relative;
  bottom: 15%;
  right: 20%;
  rotate: -18deg;
}

.nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-family: "Anton", sans-serif;
  padding: 10px;
  display: block;
  text-align: center;
}

.line {
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 25px;
  transition: all 0.3s ease;
}

#dashboard {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.black-pane {
  margin: 0;
  border: 0;
  position: absolute;
  top: -80%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black-pane h1 {
  color: white;
  font-size: 2rem;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dashboard-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  flex-wrap: wrap;
  opacity: 0;
  scale: 0.5;
}

.images {
  width: 300px;
  height: 300px;
}

#img1 {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  rotate: -5deg;
}

.images img:hover {
  transform: scale(1.05);
}

.info-para {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.info-para h1 {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.info-para p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
}

#goto-about {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  transition: all 0.3s ease;
}

#goto-about:hover {
  background-color: #dad0c6;
  scale: 1.5;
}

#about {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.text-movement {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 100%;
  font-size: 5rem;
  font-weight: bold;
  color: #000000;
  opacity: 1;
}


.another-div{
  opacity: 0;
}

/* .open-pane1,
.open-pane2 {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #000;
}

.open-pane1 {
  top: 0;
  left: 0;
}

.open-pane2 {
  bottom: 0;
  left: 0;
} */

@media (max-width: 1200px) {
  .black-pane h1 {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}


@media (max-width: 400px) {
  .info-para h1 {
    font-size: 1rem;
    margin-top: -80px;
  }

  .info-para p {
    font-size: 0.6rem;
  }

  #img1 {
    width: 260px;
    height: 260px;
  }
}