*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF1E2;
}
  
.menu-button {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 25px;
  transition: all 0.3s ease;
}

