/* splash_style.css */
body {
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    background-color: #fff7e6;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    gap: 40px;
    flex-wrap: wrap;
}

.splash-container {
    text-align: center;
    color: #ffffff;
    transform-origin: center;
}

.title {
    font-size: 4rem;
    margin: 0;
    color: #000000;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
    margin: 10px 0 0;
    color: #292929;
    opacity: 0.8;
    border-right: 3px solid #0f0f0f;
    display: inline-block;
    overflow-wrap: break-word; 
    word-wrap: break-word; 
    word-break: break-word; 
    white-space: normal;
    padding-left: 18px;
    padding-right: 18px;
}

.loading-text{
    font-family: "Bytesized", sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    position: absolute;
    bottom: 2%;
    right: 2%;
}

.loading-text p{
    margin: 0;
}

@media (max-width: 1200px) {

    .loading-text {
        font-size: 20px; /* Smaller font for smaller screens */
    }

    .title {
        font-size: 1.8rem; /* Smaller font for smaller screens */
    }

    .subtitle {
        font-size: 1.2rem; /* Smaller font for smaller screens */
        padding: 18px;
        border-right: 2px solid #0f0f0f;
    }
}


@media (max-width: 450px) {

    .loading-text {
        font-size: 16px; /* Smaller font for smaller screens */
    }

    .title {
        font-size: 1.4rem; /* Smaller font for smaller screens */
    }

    .subtitle {
        font-size: 1em; /* Smaller font for smaller screens */
        padding: 18px;
        border-right: 2px solid #0f0f0f;
    }
}